voxel_sim/posterior_parrallel_draws.csv
cmdstanr_implementation/stanfiles/rba_parrallel
cmdstanr_implementation/stanfiles/rba_parrallel_uncor
voxel_sim/posterior_parrallel_draws.csv
voxel_sim/posterior_parrallel_draws_uncor.csv
brms_implementation/voxelsim_mod_brms_parrallel.R
brms_implementation/voxelsim_mod_brms.R
cmdstanr_implementation/RBA_posterior_draws.RDS
cmdstanr_implementation/RBA_posterior_parrallel_draws.RDS
cmdstanr_implementation/RBA_posterior_parrallel_uncor_draws.RDS
cmdstanr_implementation/RBA_posterior_uncor_draws.RDS
voxel_sim/posterior_draws_uncor.csv
cmdstanr_implementation/stanfiles/rba_uncor
cmdstanr_implementation/stanfiles/rba
.gitignore