voxel_sim/posterior_parrallel_draws.csv
cmdstanr_implementation/stanfiles/rba_parrallel
cmdstanr_implementation/stanfiles/rba_parrallel_uncor
voxel_sim/posterior_parrallel_draws.csv
voxel_sim/posterior_parrallel_draws_uncor.csv
brms_implementation/voxelsim_mod_brms_parrallel.R
brms_implementation/voxelsim_mod_brms.R